* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: rgb(25,44,59) */
}

.header{
  
  width: 100%;
  height: 300px;
  background-size: cover; 
  background-position: center; 
  filter: grayscale(55%);    
}

.head-name {  
  margin-top: 80px;
  margin-left: 20px;
  width: fit-content;
  color:#ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px #2d2e2d, 2px 2px #252525, 3px 3px #1c1d1c;
}

.nav-item {
  
  color:#ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px #2d2e2d, 2px 2px #252525, 3px 3px #1c1d1c;
}


.nav{
  
  display: flex; 
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: rgb(133,137,142);  
}
a:focus{
  color: rgb(22, 78, 121);  
}
body {
  background-color:rgb(252,252,253);  
}

.form {
  width: 50px;
}

input, textarea {
  width: 30rem;
  border-width: .5px;
  border-color: rgb(25,44,59);
}
label {
  margin-top: 5px;
  font-weight: bold;
  width: 200px;
  padding-bottom: 2px;
  color: rgb(25,44,59);
}

h1, h5, p {
  color: rgb(25,44,59);
  margin-left: 20px;
}


.btn {
background-color:rgb(25,44,59);
border:rgb(25,44,59);
color: rgb(252,252,253);
}

.btn:hover {
  background-color:rgb(138,54,57);
  color: rgb(25,44,59)
}
.btn:active {
background-color:rgb(133,137,142)
}
.error-text{
  font-weight: bold;
  width: 30rem;
}

.user-circle {
  color: rgb(25,44,59);  
}
.git-circle{
  color: rgb(252,252,253);
  position: absolute;
  top:3%;
  left: 80%;
}
.git-circle:hover {  
  color: rgb(138,54,57);
    
}

.circle-div {
  margin-left: 20px;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
  background-size: cover;   
  background-image: url('../src/assets/images/footer/footer.JPG');
  filter: grayscale(60%);
   
}
.foot {
  display: flex;
  justify-content: center;
  height:60px;  
}

.footer-icon {
  color: rgb(252,252,253);
  margin: 10px; 
}
.footer-icon:hover {
  border-bottom: 2px solid rgb(252,252,253);   
}
.footer-icon:active {
  color: rgb(133,137,142);
  border-bottom: 2px solid rgb(133,137,142);   
}

.overlay {
  display: none;
}

.outer:hover .overlay {
  display: block;
  position: absolute;
  width: 93%;
  height: 500px;
  background: rgb(25,44,59);
  opacity: 0.8;
  top: 0
}

.text {
  position: absolute;  
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
}
.text-description {
  position: absolute;
  top:5%;
  left: 5%;
  color: rgb(252,252,253);
  font-weight: bold;
}
.text:hover, .text-description:hover {
 color:rgb(138,54,57)
}

.portfolio-image {
  margin-bottom: 60px;
  max-width:500px;
  height:500px;
}

.port-div {
  margin: 25px 40px 25px 18%;  
}

.port-list{
  list-style-type: none;
}

#contact-form {
  margin-left: 20px;
}

.resume-list {
margin-left: 20px
}
.resume-li{
  margin-left:25px;
  color: rgb(25,44,59);
  list-style-type: none;
}

.resume-icon{
  margin-right: 6px;
  color: rgb(25,44,59)
}

@media screen and (max-width: 530px) {
  .nav-item {     
    font-size: 1rem;
    font-weight: thin;    
  }
  .head-name{
    font-size: 2rem;
  }
  footer {
    display: none
  }
}
@media screen and (max-width: 410px) {
  .nav-item {     
    font-size: .75rem;
    font-weight: thin;    
  }
}


  

